---
layout: base
title: Assignment 2 Index page
eleventyComputed:
    pathPrefix: "{{ env.pathPrefix }}"
---

    <h2>Assignment 2 Index page</h2>
    <p>
        I'm also a huge fan of the national parks that I've visited so far (more than I initially remembered!):
    </p>
        <ul>
            <li>Grand Canyon</li>
            <li>Olympic</li>
            <li>Acadia</li>
            <li>Glacier</li>
            <li>Gateway Arch</li>
            <li>Greate Smoky Mountains</li>
            <li>Cape Cod Seashore</li>
            <li>Gulf Islands Seashore</li>
            <li>Mount Rainer</li>
            <li>San Juan Island</li>
            <li>Bandelier</li>
            <li>Chaco Culture</li>
            <li>Channel Islands</li>
            <li>Point Reyes</li>
        </ul>
    <p>There are a number of others on my bucket list:</p>
    <ul>
        <li>Yosemite</li>
        <li>Sequoia and Kings Canyon</li>
        <li>Crater Lake</li>
        <li>Yellowstone</li>
        <li>Grand Teton</li>
        <li>Bryce Canyon</li>
        <li>Zion</li>
        <li>Dry Tortugas</li>
        <li>Denali</li>
    </ul>
    <p>
        <a href="/{{ env.pathPrefix }}hello">Link to hello page</a>
    </p>
    <p>
        <a href="/{{ env.pathPrefix }}maine/">Maine National Parks</a>
    </p>
    <p>
        <a href="/{{ env.pathPrefix }}massachusetts/">Massachusetts National Parks</a>
    </p>
    <p>I used 2 templates for keeping things DRY: /src/_includes/parkList.liquid and /src/_includes/parkCard.liquid</p>
    <p>
        <a href="/{{ env.pathPrefix }}all-parks/">All Parks</a>
    </p>
