---
title: Maine National Parks
layout: base
---
<div class="container">
    <br/>
    <h1>Maine National Parks</h1>
    <br/>
    <div id="main-wrapper" class="mx-auto" >
        <div class="row">
            {%  for park in maine.data %}
                <div class=" col-md-6 col-lg-4 col-xl-3" >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ park.fullName }}</h3>
                        </div>
                        <img src="{{ park.images[0].url }}" class="card-img-top" alt="{{ park.images[0].altText }}" title="{{ park.images[0].caption }}" />
                            <div class="card-body">
                                <p>{{ park.description }}</p>
                                <p class="fs-6">
                                    <a href="https://www.nps.gov/{{ park.parkCode }}" target="_blank" class="btn btn-primary">https://www.nps.gov/{{ park.parkCode }}</a>

                                </p>
                            </div>
                        <div class="card-footer text-muted fst-italic">
                            {{ park.images[0].caption }}
                        </div>
                    </div>
                    <br/>
                </div>

            {% endfor %}
        </div>
    </div>
</div>


